doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Sobre - Profissões Futurísticas

        link(rel='icon', type='image/x-icon', href='assets/icon.ico')

        include includes/css.pug

    body

        include includes/navbar.pug

        // Page Header
        header.masthead(style="background-color: black")
            .container.position-relative.px-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-md-10.col-lg-8.col-xl-7
                        .page-heading
                            h1 Sobre nós
                            span.subheading Equipe de desenvolvimento

        // Main Content
        main.mb-4
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-md-10.col-lg-8.col-xl-7
                        p
                            | Projeto Profissões do Futuro, um trabalho realizado pelo grupo Caio Medeiros, Maria Eduarda Aznar, Maria Clara Mendonça e Kleberson Toro.
                        p
                            | Estamos enfrentando diversas revoluções na era tecnológica e por conta disso todos os dias surgem diversos rumores sobre o que vai ser do futuro do trabalho.  Por conta disso, decidimos falar um pouco sobre as principais apostas de profissões que vão dominar o mercado de trabalho futuramente.
        include includes/footer.pug

        include includes/scripts.pug