doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Contato - Profissões Futurísticas

        link(rel='icon', type='image/x-icon', href='assets/icon.ico')

        include includes/css.pug

    body

        include includes/navbar.pug

        // Page Header
        header.masthead(style="background-color: black")
            .container.position-relative.px-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-md-10.col-lg-8.col-xl-7
                        .page-heading
                            h1 Contato
                            span.subheading Quer entrar em contato com a equipe de desenvolvimento?

        // Main Content
        main.mb-4
            .container.px-4.px-lg-5
                .row
                    .col
                        img(style='border-radius: 50%;' class='teamImage' src='assets/img/caio.png').m-3
                        h4 
                            | Caio Medeiros
                        a(href='mailto:medeiros.caio@gmail.com')
                            | medeiros.caio@gmail.com
                    .col
                        img(style='border-radius: 50%;' class='teamImage' src='assets/img/maria-clara.png').m-3
                        h4
                            | Maria Clara Mendonça
                        a(href='mailto:mendonca.clara@gmail.com')
                            | mendonca.clara@gmail.com
                    
                    .col
                        img(style='border-radius: 50%;' class='teamImage' src='assets/img/eduarda.png').m-3
                        h4 
                            | Maria Eduarda Aznar
                        a(href='mailto:aznar.maria@gmail.com')
                            | aznar.maria@gmail.com
                        
                    .col
                        img(style='border-radius: 50%;' class='teamImage' src='assets/img/kleb.png').m-3
                        h4 
                            | Kleberson Toro
                        a(href='mailto:toro.kleberson@gmail.com')
                            | toro.kleberson@gmail.com
                        
        include includes/footer.pug

        include includes/scripts.pug
