doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='author', content='Kleberson Toro')
        meta(name='description', content='Website sobre profissões do futuro')

        title Profissões Futurísticas

        link(rel='icon', type='image/x-icon', href='assets/icon.ico')

        include includes/css.pug

    body

        include includes/navbar.pug

        // Page Header
        header.masthead(style="background-color: black")
            .container.position-relative.px-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-md-10.col-lg-8.col-xl-7
                        .site-heading
                            h1 Profissões Futurísticas
                            span.subheading Vem conhecer sua profissão do futuro

        // Main Content
        .container.px-4.px-lg-5
            .row.gx-4.gx-lg-5.justify-content-center
                .col-md-10.col-lg-8.col-xl-7

                    p 
                        | Com a evidente crise e com o alto índice de desemprego que o Brasil está passando, é importante que as pessoas conscientizem-se  sobre as profissões que em breve estarão em alta. Em geral, estas, também conhecidas como “profissões do futuro”, geralmente estão relacionadas à tecnologia e ao digital. Isso se deve ao fato de que cada vez mais as pessoas dependem do mundo digital, novas necessidades são criadas e com isso este mercado de trabalho fica cada vez mais aquecido.

                    // Post preview
                    .post-preview
                        a(href='post_1.html')
                            h2.post-title
                                | E aí, já escolheu sua profissão?
                            h3.post-subtitle
                                | E você, pensa em trabalhar com o que?... Tenha em mente que a profissão fará parte da sua rotina por muitos anos.
                        p.post-meta
                            | Texto original por 
                            a(href='https://redeclima.tv.br/12-profissoes-do-futuro-que-estarao-em-alta-nos-proximos-5-anos/' target='_blank') Rede Clima
                            | on 2020
                    
        
        include includes/footer.pug

        include includes/scripts.pug
